*, html, body{
    box-sizing: border-box;
    width: 100%;
    margin:0px;
    padding: auto;

}
body{
    background-color: rgb(243, 243, 243);
}
.canvas{
    width: 49% ;
    height: auto;
    box-sizing: border-box;
    max-width: 800px;
    float: left;
    border: 1px solid black;
    margin:5px;
    margin-bottom: 30px;
}
.content{
    padding-top:20px;
    width: 100%;
    box-sizing: border-box;

}
.content_fileinput{
    width: 350px;
    background-color: rgb(62, 62, 63);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(62, 62, 63);
    color: rgb(255, 255, 255);
        
}
.content_sizematrix, .content_updatesize{
    width: auto;
    background-color: rgb(62, 62, 63);
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid rgb(62, 62, 63);
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}